* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: tomato;
    color: snow;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.5em;
}

@media(min-width: 500px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
}

main {
    height: 60%;
    margin: 0 auto;
}

main,
#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#timer-type {
    font-size: 3em;
}

#time-display {
    font-size: 4em;
}

#controls {
    display: flex;
    flex-direction: row;
    margin: 15px 0 0;
}

button {
    border: none;
    width: 5em;
    background-color: snow;
    color: tomato;
    font-size: 1.3em;
    border-radius: 1em;
}

#pause-timer{
    margin: 0 5px;
}

#switch-timers {
    width: 15em;
}